*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: [sidebar-1] 40px [explorer-1] 15% [tabIMain] 1fr;
    grid-template-rows: [row1-start] 6% [row1-end] auto [footer-start] 15%;
    grid-template-areas: 
        "sidebar explorer tab tab"
        "sidebar explorer main main"
        "sidebar explorer footer footer";
    grid-gap: 0rem;
    /* this magic unit sets grid full screen  */
    width: 100vw;
    height: 100vh;
}
.sidebar {
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: rgb(51, 51,51);
    height: 100%;
    width: auto;
    color: rgb(173, 173, 173);
}
li.sidebar {
    padding: 0px 5px 0px 0px;
}
li.sidebar:first-child {
    padding-top: 10px;
}
.tab {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: rgb(56, 56, 56);
    height: auto;
    color: rgb(173, 173, 173);
    width: 100%;
}
ul#tab {
    display: inline;
    -webkit-padding-start: 0px;
    padding-left: 1rem;
    align-content: space-around;
    justify-content: center;
}
ul#tab li {
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    height: 100%;
    width: 10rem;
    text-align: center;
    border: 1px solid rgb(122, 174, 202);
    
}
ul#tab a {
    display: block;
    padding-top: 10px;
    text-decoration: none;
    color: rgb(173, 173, 173);
    cursor: default;
}
.list-inline {
    align-content: space-around;
    padding: 15px;
    list-style-type: none;
    width: 100%;
}
li.list-inline {
    text-align: center;
    color: rgb(173, 173, 173);

}
.explorer {
    grid-area: explorer;
    height: 100%;
    background-color: rgb(37, 37, 38);
    color: rgb(173, 173, 173);

}
h1.explorer {
    display: block;
    font-family: roboto;
    font-weight: 100;
    font-size: 12px;
    text-decoration: none;
    border: 5px;
    border-color:  rgb(173, 173, 173);
}
.h-explorer {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding-top: 1rem;
    padding-left: 5px;
    font-family: roboto;
    font-weight: 100;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 3px solid rgb(173, 173, 173);
    border-width: 100%;
    
}
.explorer-list {
    display: block;
    list-style-type: none;
    margin-left: 5px;
}
li.explorer-list {
    margin-top: 5px;
}
li.explorer-list:first-child {
    display: block;
    margin-top: 30px;
}
a.explorer-list {
    text-decoration: none;
    color: rgb(173, 173, 173)
}
.main {
    grid-area: main;
    background-color: rgb(30, 30, 30);
    height: 100%;
    overflow: auto;
    color: rgb(122, 174, 202);
}
.main-content {
    display: block;
    margin: 30px 20px 15px 30px;
}
.text-in-main {
    margin-top: 120px;
    text-align: center;
    color: aliceblue;
}
.mystory {
    align-content: center;
}
.form {
    display: block;
    padding: 5px;
    align-content: center;
}
h1.form {
    align-self: center;
    padding: 15px;
    text-align: center;
}
.footer {
    grid-area: footer;
    background-color: rgb(39, 30, 30);
}
.img-logo {
    height: 50px;
    width: 50px;
    justify-self: end;

}
.footie {
    display: inline-flex;
    border: 1px;
    border-top-color: rgb(30, 30, 30);
    padding-left: 25px;


}
img.footie {
    height: 50px;
    margin-top: 3%;
    margin-left: 5%;
    padding: 0px 15px 0px 0px;
    align-content: space-around;
}
img.footie:hover {
    border-inline-start: 30px;
    border-color: linear-gradient(- 90deg, blue, yellow);

}